.grid {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    background-color: black;
    width: 16.25rem;
    overflow: hidden;
    height: 16.25rem;
}

.grid-column {
    margin: -3.25rem 0 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
    height: 19.5rem;
    // background-color: burlywood;    
    // margin: 0 2px;
}

.grid-cell {
    width: 3rem;
    height: 3rem;
    margin: 2px;
    // border: 1px solid red;
    background-color: hsla(359, 56%, 40%, 0.8);
    border-radius: 0.25rem;
    offset-path: path('m 24,24 h 48');
    transition: background-color 2500ms;
    // infinite
    // box-shadow: inset 10px 10px 1px grey;
}

.animate {
    // animation: move-columns 30ms linear; // infinite removed.
    z-index: 100;
    

    &.stale, .stale {
        // animation: none;
        z-index: 200;
    }
}

.grid-cellcontent {
    transform: rotateZ(-90deg) skew(-2deg) translateX(-0.25rem) translateY(-0.25rem);
    display: block;
}