/* You can add global styles to this file, and also import other style files */

@keyframes move-columns {
    0% {
        offset-distance: 0;
    }
    30% {
        offset-distance: 50%;
    }
    70% {
        offset-distance: 50%;
    }
    100% {
        offset-distance: 100%;
    }
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.debugger-content {
    z-index: 2000;
}